.authContainer {
  display: flex;
  width: 100%;
  padding: 2rem 10rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 1800px;
  min-height: 100vh;
  align-items: center;
  gap: 3rem;
}

.authColumn {
  width: 50%;
  padding: 15px;
}

.authHeader {
  padding-bottom: 2rem;
}

.authHeader h1 {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.authHeader p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 2rem;
  opacity: 0.5;
}

.authFormContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 1.5rem;
}

.authFormContainer button {
  margin-top: 3rem;
}

.errorMessageContainer {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 1rem;
  margin-bottom: 1.5rem;
  border: solid 1px var(--errorColor);
  border-radius: 0.25rem;
}

.errorMessageContainer p {
  font-size: 1.1rem;
  font-weight: 300;
  line-height: 1rem;
  color: var(--errorColor);
  padding-left: 5px;
  margin-bottom: 2px;
}

.backToHome {
  padding-bottom: 2rem;
}

.backToHome a {
  display: flex;
  font-size: 18px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
  width: 100%;
  align-items: center;
  gap: 4px;
}

.passwordRequirements {
  font-size: 1rem;
  font-weight: 300;
  opacity: 0.9;
}

.passwordRequirements ul {
  padding-left: 1.5rem;
  margin-top: 0.5rem;
}

.passwordRequirements ul li {
  color: black;
  transition: all 0.3s ease-in-out;
}

.passwordRequirements ul li.invalidPassword {
  color: var(--errorColor);
}

@media screen and (max-width: 1200px) {
  .authContainer {
    padding: 2rem 3rem;
    max-width: none;
    gap: 0;
  }
}

@media screen and (max-width: 900px) {
  .authContainer {
    flex-direction: column;
    justify-content: center;
  }

  .authColumn {
    width: 100%;
  }

  .authColumn:not(:first-child) {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  .authContainer {
    min-height: 100vh;
    padding: 10rem 2rem 4rem;
  }

  .authColumn {
    padding: 0;
  }

  .backToHome {
    display: none;
  }

  .authHeader h1 {
    font-size: 2rem;
  }

  .authFormContainer a.linkAlt {
    margin-bottom: 1.5rem;
  }

  .authFormContainer button {
    margin-top: 2rem;
  }
}
