.authContainer {
  display: flex;
  width: 100%;
  padding: 2rem 10rem;
  min-height: 100vh;
  align-items: center;
}

.authColumn {
  width: 50%;
  padding: 15px;
}

.authHeader {
  padding-bottom: 2rem;
}

.authHeader h1 {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.authHeader p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 2rem;
  opacity: 0.5;
}

.authFormContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 1.5rem;
}

.errorMessageContainer {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 1rem;
  margin-bottom: 1.5rem;
  border: solid 1px var(--errorColor);
  border-radius: 0.25rem;
}

.errorMessageContainer p {
  font-size: 1.1rem;
  font-weight: 300;
  line-height: 1rem;
  color: var(--errorColor);
  padding-left: 5px;
  margin-bottom: 2px;
}

.backToHome {
  padding-bottom: 2rem;
}

.backToHome a {
  display: flex;
  font-size: 18px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
  width: 100%;
  align-items: center;
  gap: 4px;
}