@import url("https://use.typekit.net/qsy2bkp.css");

:root {
  --primaryColor: #6942f5;
  --secondaryColor: #4f2dcf;
  --linkColor: #2b4e7b;
  --errorColor: #ff0033;
  --successColor: #00cc66;
  --infoColor: #0066ff;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "quiet-sans", sans-serif;
  margin: 0;
  padding: 0;
}

.wrapper {
  padding-top: 12vh;
}

.wrapper.navHidden {
  padding-top: 0;
}

.link {
  font-weight: 600;
  color: var(--primaryColor);
  text-decoration: none;
  -webkit-transition: all ease-in-out 0.3s;
  -moz-transition: all ease-in-out 0.3s;
  -ms-transition: all ease-in-out 0.3s;
  -o-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

.linkAlt {
  font-weight: 400;
  color: var(--linkColor);
  text-decoration: none;
  -webkit-transition: all ease-in-out 0.3s;
  -moz-transition: all ease-in-out 0.3s;
  -ms-transition: all ease-in-out 0.3s;
  -o-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

.link:hover,
.linkAlt:hover {
  opacity: 0.7;
}

.kemLabelsBtn {
  font-family: "quiet-sans", sans-serif;
  font-size: 1.1rem;
  font-weight: 600;
  padding: 12px;
  border: solid 2px var(--primaryColor);
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: all ease-in-out 0.3s;
  -moz-transition: all ease-in-out 0.3s;
  -ms-transition: all ease-in-out 0.3s;
  -o-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

.kemLabelsBtn.solid {
  background-color: var(--primaryColor);
  color: white;
}

.kemLabelsBtn.outline {
  background-color: transparent;
  color: var(--primaryColor);
}

.kemLabelsBtn.solid:hover {
  opacity: 0.8;
}

.kemLabelsBtn.outline:hover {
  background-color: var(--primaryColor);
  color: white;
}

.kemLabelsBtn:disabled {
  background-color: #d7d7d7;
  border-color: #cbcbcb;
  color: #856ed7;
  opacity: 0.7;
}

.kemLabelsBtn:disabled:hover {
  background-color: #e6e6e6;
  border-color: #dbdbdb;
  color: #a68dff;
  opacity: 1;
}

.buttonSpinner {
  -ms-animation: btnSpinner 1s infinite linear;
  -moz-animation: btnSpinner 1s infinite linear;
  -webkit-animation: btnSpinner 1s infinite linear;
  -o-animation: btnSpinner 1s infinite linear;
  animation: btnSpinner 1s infinite linear;
}

@keyframes btnSpinner {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.globalContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 5rem 7rem;
  text-align: left;
}

.globalContainer .headingContainer {
  margin-bottom: 1.5rem;
}

.globalContainer .headingContainer h1 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.globalContainer .headingContainer p {
  color: #696969;
}

.globalContainer h2 {
  font-size: 1.2rem;
  font-weight: 500;
  margin: 1rem 0;
}

.globalContainer p {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5rem;
  margin-bottom: 1rem;
}

.globalContainer ul {
  padding-left: 1.5rem;
  margin-bottom: 0.5rem;
}

.globalContainer ul li {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5rem;
}

.fieldContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 1.5rem;
  align-items: center;
}

.fieldContainer .fieldInput {
  font-family: "quiet-sans", sans-serif;
  font-size: 1.1rem;
  font-weight: 300;
  color: black;
  padding: 15px;
  width: 100%;
  border: none;
  border-bottom: solid 1px rgba(46, 48, 53, 0.2);
  outline: none;
  -webkit-transition: all ease-in-out 0.3s;
  -moz-transition: all ease-in-out 0.3s;
  -ms-transition: all ease-in-out 0.3s;
  -o-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

.fieldContainer .fieldInput.password {
  padding-right: 2.5rem;
}

.fieldContainer .fieldInput:focus {
  border-bottom: solid 1px var(--primaryColor);
}

.fieldContainer .fieldInput.disabled {
  background-color: #efefef;
}

.fieldContainer .fieldInput.disabled::placeholder {
  color: #c0c0c0;
}

.fieldContainer .passwordIcon {
  font-size: 24px;
  color: black;
  margin-left: -2rem;
  cursor: pointer;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  text-align: center;
  padding: 1rem;
  min-height: 5vh;
}

.footer p {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1rem;
  opacity: 0.9;
}

.alertMessageContainer {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 1rem;
  margin-bottom: 1.5rem;
  border-radius: 0.25rem;
  -webkit-transition: all ease-in-out 0.3s;
  -moz-transition: all ease-in-out 0.3s;
  -ms-transition: all ease-in-out 0.3s;
  -o-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

.alertMessageContainer p {
  font-size: 1.1rem;
  font-weight: 300;
  line-height: 1.5rem;
  padding-left: 5px;
  margin-bottom: 2px;
  width: 100%;
}

.alertMessageContainer svg {
  width: 1.5rem;
  height: auto;
}

.alertMessageContainer.error {
  border: solid 1px var(--errorColor);
}

.alertMessageContainer.error p {
  color: var(--errorColor);
}

.alertMessageContainer.success {
  border: solid 1px var(--successColor);
}

.alertMessageContainer.success p {
  color: var(--successColor);
}

.alertMessageContainer.info {
  border: solid 1px var(--infoColor);
}

.alertMessageContainer.info p {
  color: var(--infoColor);
}

.table {
  border-collapse: collapse; 
}

.table thead tr {
  border-bottom: solid 1px #dadada;
}

.table thead th {
  text-align: left;
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 2rem;
  padding: 0.5rem 0.5rem 1rem;
  cursor: pointer;
}

.table thead th svg {
  width: 1rem;
  height: 1rem;
  margin-left: 0.5rem;
}

.table tbody tr {
  border-bottom: solid 1px #f1f1f1;
}

.table tbody td {
  text-align: left;
  font-size: 1rem;
  font-weight: 300;
  line-height: 2rem;
  padding: 0.75rem 0.5rem;
}

.table thead th.alignRight,
.table tbody td.alignRight {
  text-align: right;
}

.tablePaginationBtns {
  display: flex;
  justify-content: center;
  padding: 2rem 2rem 0;
}

@media screen and (max-width: 1200px) {
  .table tbody td {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 768px) {
  .globalContainer {
    padding: 5rem;
  }
  .table tbody tr {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 1rem;
  }
  .table tbody td {
    font-size: 1rem;
    padding: 0 0.5rem 0.25rem;
    width: 50%;
  }
}

@media screen and (max-width: 576px) {
  .globalContainer {
    padding: 5rem 2.5rem;
  }
  .footer p {
    font-size: 0.9rem;
  }

  .fieldContainer .fieldInput {
    font-size: 1rem;
  }

  .fieldContainer .passwordIcon {
    font-size: 1.25rem;
  }

  .alertMessageContainer {
    padding: 1rem 0.5rem;
  }

  .alertMessageContainer p {
    font-size: 0.9rem;
  }
}
