.orderLabelContainer .headingContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.orderLabelForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1.5rem;
}

.orderLabelForm .formSection {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0.5rem 2rem;
  border: solid 1px #efefef;
  border-radius: 8px;
}

.orderLabelForm .formSection .sectionHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.orderLabelForm .formSection .formRow {
  display: flex;
  width: 100%;
  gap: 2rem;
}

.orderLabelForm .orderFooter {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  width: 100%;
}

.orderLabelForm .orderFooter .btnContainer {
  display: flex;
  gap: 1rem;
}

.orderLabelForm .orderFooter .orderTotal {
  display: flex;
  justify-content: center;
  align-items: center;
}

.orderLabelForm .orderFooter .orderTotal p {
  font-size: 1.1rem;
  font-weight: 300;
  margin-bottom: 0;
}

@media screen and (max-width: 992px) {
  .orderLabelContainer {
    max-width: 100%;
    padding: 5rem;
  }
}

@media screen and (max-width: 768px) {
  .orderLabelContainer {
    padding: 3rem;
  }
  .orderLabelContainer .formSection .formRow {
    flex-wrap: wrap;
    gap: 0;
  }
}

@media screen and (max-width: 576px) {
  .orderLabelForm .formSection {
    padding: 0.5rem 1rem;
  }
  .orderLabelContainer {
    padding: 3rem 1rem;
  }
  .orderLabelForm .orderFooter {
    flex-direction: column;
    gap: 2rem;
  }
  .orderLabelForm .orderFooter .btnContainer {
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
  .orderLabelForm .orderFooter .btnContainer .kemLabelsBtn {
    width: 100%;
  }
}
