/* .Home {
    text-align: center;
    color: white;
    background-color: black;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .header {
    margin-bottom: 2rem;
  }
  
  .main-content {
  } */